@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
  }

html {
    --bg-color: #C5E4E7;
    --main-bg-color: #FFFFFF;
    --main-accent-color: #00494D;
    --main-lighter-accent-color: #26C2AD;
    --input-background-color: #F4FAFA;
    --input-icon-color: #9EBBBD;
    --text-color: hsl(184, 14%, 56%);

    --border-radius-large: 20px;
    --border-radius-small: 5px;

    --font-size-large: 24px;
    --font-size-medium: 18px;
    --font-size-small: 14px;


}

body {
    background-color: var(--bg-color);
    font-size: var(--font-size-medium);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 320px;
    color: var(--text-color);
}

main {
    width: max(50%, 768px);
    margin: auto, 0;
    background-color: var(--main-bg-color);
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.container {
    border-radius: var(--border-radius-large);
    padding: 50px;
    min-width: 320px;
}

#tip-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 30px;    
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#num-people-container {
    margin-bottom: 20px;
}


.input-group>div {
    width: 100%;
}
.input-group>div>input {
    width: 100%;
    font-size: x-large;
    line-height: 1.5;
    color: var(--main-accent-color);
    background-color: var(--input-background-color);
    border-radius: var(--border-radius-small);
    border: solid 1px var(--input-background-color) ;
    padding: 6px;
    text-align: right;
}

.input-icons img {
    position:absolute;
}
.icon {
    padding: 15px;
    color: var(--input-icon-color);
    text-align: center
}

.input-group>div>input:focus {
    border-color: var(--main-lighter-accent-color);
}

.input-group>label {
    margin: 10px 0 10px 0;
}

#tip-percentage-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 25px 0;
}

#tip-button-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;

}

#tip-button-container>button {
    font-size: var(--font-size-large);
    padding: 5px;
    border-radius: var(--border-radius-small);
    background-color: var(--main-accent-color);
    color: var(--main-bg-color);
    min-width: 100px;
}

#custom-tip-button {
    padding: 0 !important;
    margin: 0;
}

#custom-tip-input {
    padding: 0 5px ;
    height: 100%;
    width: 100%;
    font-size: 14px;
    color: var(--main-accent-color);
    border-radius: var(--border-radius-small);
    background-color: var(--input-background-color);
    border: none;
    font-size: var(--font-size-large);
    text-align: center;
}

#custom-tip-input:focus {
    outline: none !important;
    border: 1px solid var(--main-lighter-accent-color);
}

input:focus {
    outline: none !important;
    border: 1px solid var(--main-lighter-accent-color);
}

#tip-button-container>button.active {
    color: var(--main-accent-color);
    background-color: var(--main-lighter-accent-color);
}

#tip-output {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--main-accent-color);
    color: var(--main-bg-color);
    padding: 10px 30px 10px 30px;
    border-radius: var(--border-radius-large);
}

.tip-result-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: var(--font-size-small);
}

div.per-person {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p.per-person {
    margin: 0px 0px;
    font-size: x-small;
    color: hsl(186, 14%, 43%);
}

.tip-result-container>p.result {
    color: var(--main-lighter-accent-color);
    font-size: xx-large;
    line-height: 2;
}

#tip-output>button[type=reset] {
    background-color: var(--main-lighter-accent-color);
    color: var(--main-accent-color);
    padding: 5px 0 5px 0;
    border-radius: var(--border-radius-small);
    font-size: var(--font-size-medium);
}

button {
    border: none;
}




@media (max-width: 600px) {

    header {
        margin: 50px 0;
    }

    .container {
        width: 100vw;
        padding: 30px 15px 30px 15px;
    }

    form {
        grid-template-columns: 1fr;
        width: 100%;
        min-height: 100vh;
    }

    #tip-inputs {
        margin-right: 0;
    }
    #tip-output {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #tip-button-container {
        grid-template-columns: 1fr 1fr;
    }

    .tip-result-container>p.result {
        color: var(--main-lighter-accent-color);
        font-size: x-large;
        line-height: 2;
    }

    #tip-output>button[type=reset] {
        margin-bottom: 0;
        margin-top: 10px;
    }

}